# Database
DATABASE_URL="postgresql://user:password@localhost:5432/artist_intelligence?schema=public"

# Anthropic Claude API
ANTHROPIC_API_KEY=

# Spotify API
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=

# YouTube API
YOUTUBE_API_KEY=

# NextAuth
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000

# Public
NEXT_PUBLIC_BASE_URL=http://localhost:3000
